.evaluationText {
    font-size: 20px;
}
.handText {
    font-size: 25px;
}
.cards {
    width: 200px;
    height: 250px;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 6px 18px -9px hsl(229, 93%, 58%);
    transition: transform 0.3s ease;
}
.cards:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.evaluateButton {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(96, 204, 250);
}
.evaluateButton:hover {
    background-color: hsl(219, 92%, 53%);
    cursor: pointer;
}
.exitButton {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: -10px;
    padding: 10px;
    margin-top: -20px;
    background-color: rgb(96, 204, 250);
}
.exitButton:hover {
    background-color: hsl(219, 92%, 53%);
    cursor: pointer;
}
.drawMessage {
    margin-top: 20px;
    font-size: 20px;
}