@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');

.dealButton {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(72, 180, 137);
}
.dealButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.playerName {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 5px;
}
.gameId {
    font-family: "Prociono", serif;
    color: whitesmoke;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: left;
}

.cards {
    width: 80px; /* Reduced width to make the cards smaller */
    height: 115px; /* Reduced height to maintain the aspect ratio */
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: transparent; /* Remove the background color */
    border: none; /* Remove any border */
    padding: 0; /* Remove extra padding */
    margin-right: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.card-image {
    width: 100%; /* Ensure the image fully fits the .cards container */
    height: 100%; /* Ensure the image fully fits the height */
    display: block;
    object-fit: cover; /* Ensure the image fits the container without stretching */
    border-radius: 5px; /* Match the border-radius of the container */
}
.cards:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.turn {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 20px;
}
.instanceContainer {
    font-family: "Prociono", serif;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    max-width: 500px;
    margin: 0 auto; /* Center the container */
    margin-top: 30px;
}
.replaceButton {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(72, 180, 137);
}
.replaceButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.passButton {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(72, 180, 137);
}
.passButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.card-selected {
    opacity: 0.7; /* Adjust opacity as needed for transparency */
}
  