@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');

.createButton {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(72, 180, 137);
}
.createButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.joinButton {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(72, 180, 137);
}
.joinButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.startButton {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(72, 180, 137);
}
.startButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.players {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
}
.managerContainer {
    font-family: "Prociono", serif;
    color: whitesmoke;
}