@import url('https://fonts.googleapis.com/css2?family=Prociono&display=swap');

.dealButton {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(72, 180, 137);
}
.dealButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.playerName {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 5px;
}
.gameId {
    font-family: "Prociono", serif;
    color: whitesmoke;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: left;
}
.cards {
    width: 200px;
    height: 250px;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    box-shadow: 0 6px 18px -9px hsl(229, 93%, 58%);
    transition: transform 0.3s ease;
    background-color: #5ad9f3;
}
.cards:hover {
    transform: scale(1.05);
    cursor: pointer;
}
.turn {
    font-family: "Prociono", serif;
    color: whitesmoke;
    font-size: 20px;
}
.instanceContainer {
    font-family: "Prociono", serif;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5); /* Transparent black */
    padding: 20px;
    border-radius: 10px; /* Rounded corners */
    max-width: 500px;
    margin: 0 auto; /* Center the container */
    margin-top: 30px;
}
.replaceButton {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: rgb(72, 180, 137);
}
.replaceButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
.passButton {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(72, 180, 137);
}
.passButton:hover {
    background-color: hsl(134, 71%, 40%);
    cursor: pointer;
}
  