@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap');

.logout_btn {
    font-size: 18px;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(96, 204, 250);
}
.logout_btn:hover {
    background-color: hsl(219, 92%, 53%);
    cursor: pointer;
}
.userDetails {
    font-size: 20px;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
}
.head {
    font-size: 60px;
    margin-bottom: 5px;
    padding: 10px;
    margin-top: 10px;
    font-family: 'Amatic SC', cursive;
}