.App {
  text-align: center;
  background-color: rgb(180, 231, 253);
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
Body {
  background-color: rgb(180, 231, 253);
}
